.grid-container {
	display: grid;
	/* Might have to change this based on the current page as each page will have different row values */
	/* 1st row = navbar should always be 6% */
	grid-template-rows: 7% 10%;
	height: 100%;
}

.menu-item {
	background-color: red;
	height: 100%;
	padding: 5px;
}