* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	outline: none;	
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	font-family: "Lucida Sans", sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.main-header {
	height: 8%;
	margin: 0px;
	padding: 0px;
	
	z-index: 2;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: white;
}

.main-content {
	height: 84%;
	background-color: white;
}

.main-content .month-header {
	height: 30%;
	margin: 0px 2px;
	
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	
	background-color: #2E8DDF;
	color: white;
	
	border: 1px solid black;
}

.main-content .month-header p {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
}

.main-content .availability-table {
	height: 70%;
	width: 100%;
}

.main-content .availability-table thead tr th {
	height: 60px;
	
	background-color: #2E8DDF;
	color: white;
	border: 1px solid black;
}

.main-content .availability-table tbody tr td {
	height: calc(100%/6);
	width: calc(100%/7);
	text-align: center;
	border: 1px solid black;
}

.main-content .availability-table tbody tr td.blank {
	background-color: grey;
}

#overlay {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	right: 200%;
	bottom: 0;
	background-color: white;
	z-index: 2;
	transition: 0.5s;
	text-align: center;
}

#overlay.active {
	left: 0;
	right: 0;
}

#overlay .header {
	height: 8%;
	
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	
	text-align: center;
	color: white;
	background-color: #2E8DDF;
	
	font-size: 1.2em;
}

#overlay .header i, #overlay .header h3 {
	padding-right: 15px;
}

#overlay .body {
	height: 84%;
}

#overlay .body form {
	height: 100%;
	width: 100%;
}

#overlay .body form table{
	height: 100%;
	width: 100%;
}

#overlay .body form table thead tr th {
	font-size: 1.2em;
	height: 40px;
}

#overlay .body form table thead tr th input[type=button] {
	width: 100%;
	
	padding: 5px 10px;
	font-size: 1em;
	
	border: none;
	border-radius: 3px;
	background-color: #2E8DDF;
	color: white;
}

#overlay .body form table tbody tr td{
	font-size: 1.2em;
}


#overlay .body form table tbody tr td input[type=radio]{
	transform: scale(2);
}



#overlay .footer {
	height: 8%;
}

#overlay .footer input[type=submit] {
	width: 100%;
	height: 100%;
	
	font-size: 1.2em;
	
	border: none;
	background-color: #2E8DDF;
	color: white;
}