* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	outline: none;	
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.main-header {
	height: 8%;
	margin: 0px;
	padding: 0px;
	
	z-index: 2;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
	box-shadow: 0px 2px 5px 0.25px grey;
	background-color: white;
}

.main-content {
	height: 76%;
	background-color: white;
}

.chat-page {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.msg {
	padding: 10px 15px 10px 15px;
	color: white;
}

.msg::after {
	content: ' ';
	display: block;
	height: 0;
	clear: both;	
}

.msg .sent {
	background-color: #2E8DDF;
	float: right;
}

.msg .received {
	background-color: #D8D7D7;
	color: black;
}

.msg > div:first-child {
	width: 95%;
	padding: 10px;
	border-radius: 5px;
}

.msg .body p {
	padding: 0px;
	margin: 0px;
}

.msg .status {
	padding: 5px 0px;
	position: relative;
	float: right;
	
}

.msg .status .message-error-btn {
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 30px;
	background-color: orangered;
	color: white;
	font-size: 1em;
	font-weight: bold;
}

.msg .status .message-error-text {
	color: grey;
	font-size: 0.85em;
}



.main-footer {
	height: 8%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: white;
	display: flex;
	box-shadow: 0px -2px 5px 0.25px grey;
	z-index: 2;
}

.main-footer input[type=text] {
	width: 80%;
	height: 100%;
	font-size: 1.5em;
}

.main-footer textarea {
	width: 85%;
	height: 100%;
	font-size: 1.5em;
	resize: none;
	border: none;
	justify-content: center;
	overflow-y: auto;
}

.main-footer button {
	width: 15%;
	height: 100%;
	padding: 2px;
	border: none;
	background: #2E8DDF;
	color: white;
}