* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	outline: none;	
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.main-header {
	height: 8%;
	margin: 0px;
	padding: 0px;
	
	z-index: 2;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: white;
}

.main-content {
	height: 64%;
	overflow-y: auto;
	overflow-x: auto;
}

table#shifts-table {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

table#shifts-table * {
	font-size: 1em;
}

table#shifts-table thead tr th {
	height: 40px;
	
	position: sticky;
	top: 0;
	z-index: 2;
	text-align: left;
	
	background-color: #2E8DDF;
	color: white;
}

table#shifts-table thead tr th.table-actions {
	text-align: center;
}

table#shifts-table tbody tr td {
	padding: 10px 0px;
}

table#shifts-table tbody tr:nth-child(even) {
	background-color: #D8D7D7;
}

table#shifts-table tbody tr td input {
	margin-left: 3px;
	padding: 5px 10px;
	
	border: none;
	border-radius: 3px;
	background-color: #2E8DDF;
	color: white;
}

.main-footer {
	height: 20%;
}

.main-footer .flex-buttons {
	height: 33%;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	
	border-top: 2px solid white;
}

.main-footer .flex-buttons label {
	height: 100%;
	width: calc(100%/3);
	
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	
  background-color: #D8D7D7;
	color: black;
}

.main-footer .flex-buttons label:first-child {
  background-color: #2E8DDF;
	color: white;
}

.main-footer .flex-buttons label input[type=radio] {
	display: none;
}

.main-footer .date-pickers {
	height: 34%;
	display: flex;
}

.main-footer .date-pickers div {
	width: 50%;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
	
	display: none;
}

.main-footer .date-pickers div label {
	width: 100%;
	display: block;
}

.main-footer .date-pickers div input[type=date] {
	width: 100%;
}

.main-footer .load-shifts-btn {
	height: 33%;
}

.main-footer .load-shifts-btn input[type=button] {
	width: 100%;
	height: 100%;
	
	border: none;
	background-color: #2E8DDF;
	color: white;
	
	font-size: 1em;
}

/*
.main-footer .flex-buttons div.radio-btn {
	width: calc(100%/3);
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	
	background-color: red;
	color: white;
}

.main-footer .flex-buttons div label {
	
}

.main-footer .flex-buttons sinput[type=radio] {
	display: none;
}

.main-footer .flex-buttons div input[type=radio]:checked+label {
	
}*/
