* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	outline: none;
	
/*
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
*/
	
	-webkit-tap-highlight-color: transparent;
}

html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-family: "Lucida Sans", sans-serif;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*="col-"] {
	float: left;
	height: 100%;
	/*padding: 15px;*/
}

.grid-container > .row:after {
	content: "";
	clear: both;
	display: table;
}

/* Using the new nav bar with icons instead of text */
.topnav {
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	background-color: #0984e3;
	height: 100%;
	
/*	font-size: 0.9em;*/
}

.topnav > a, .topnav > i {
	color: white;
}

.topnav .sidenav {
	height: 100%;
	width: 0%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: #0984e3;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.topnav .sidenav.open {
	border-right: 1px solid black;
}

.sidenav .flex-container {
	display: flex;
	align-content: flex-start;
	padding: 0px;
	margin: 0px;
}

.sidenav > a {
	text-decoration: none;
}

.sidenav .flex-container .item {
	color: white;
	font-size: 1.2em;
	padding: 5px 0px 5px 15px;
}

.sidenav .flex-container .item.img {
	width: 20%;
}

.sidenav .flex-container .item.text {
	width: 80%;
}

.topnav .sidenav .closebtn {
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 25px;
	color: white;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	position: relative;
	text-align: center;
}

.border-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	box-shadow: 0px 2px 5px 0.25px grey;
	z-index: 2;
	position: relative;
}

h3 {
	text-align: center;
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}