* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	outline: none;
}

html, body {
	overflow: hidden;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: white;
/*
	min-height: 100%;
	max-height: 100%;
	height: 100vh;
*/
	font-family: "Lucida Sans", sans-serif;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*="col-"] {
	float: left;
	height: 100%;
	/*padding: 15px;*/
}

.grid-container > .row:after {
	content: "";
	clear: both;
	display: table;
}

/* Using the new nav bar with icons instead of text */
.topnav {
	display: flex;
	justify-content: space-around;
	align-content: center;
	
	background-color: #0984e3;
	padding: 5px 0px;
}

.topnav > a, .topnav > i {
	color: white;
}

.topnav .sidenav {
	height: 100%;
	width: 0%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav .flex-container {
	display: flex;
	align-content: flex-start;
	padding: 0px;
	margin: 0px;
}

.sidenav > a {
	text-decoration: none;
}

.sidenav .flex-container .item {
	color: white;
	font-size: 1.2em;
	padding: 5px 0px 5px 15px;
}

.sidenav .flex-container .item.img {
	width: 20%;
}

.sidenav .flex-container .item.text {
	width: 80%;
}

.topnav .sidenav .closebtn {
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 25px;
	color: white;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	position: relative;
	text-align: center;
}

.border-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	box-shadow: 0px 2px 5px 0.25px grey;
	z-index: 2;
	position: relative;
}

h3 {
	text-align: center;
}