* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	outline: none;	
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	font-family: "Lucida Sans", sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.main-header {
	height: 8%;
	margin: 0px;
	padding: 0px;
	
	z-index: 2;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: white;
}

.main-content {
	height: 60%;
}

.main-content .table-header {
	height: 10%;
	
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	
	background-color: #2E8DDF;
	color: white;
}

.main-content .table-header select {
	height: 100%;
	
	border: none;
	background: none;
	
	color: white;
	font-size: 1em;
}

.main-content .table-container {
	height: 90%;
	overflow-y: scroll;
	overflow-x: scroll;
}

table#timesheet-table {
	width: 100%;
	
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

table#timesheet-table * {
	font-size: 1em;
}

table#timesheet-table thead tr th{
	height: 40px;
	
	position: sticky;
	top: 0;
	z-index: 2;
	
	text-align: left;
	
	background-color: #2E8DDF;
	color: white;
}

table#timesheet-table thead tr th.table-actions {
	text-align: center;
}

table#timesheet-table tbody tr td.shift_actions {
	width: auto;
}

/*
.main-content table tr th, .main-content table tr td {
	width: calc(100%/7);
}
*/

table#timesheet-table tbody tr td {
	padding: 10px 0px;
}

table#timesheet-table tbody tr:nth-child(even) {
	background-color: #D8D7D7;
}

table#timesheet-table tbody tr td.shift_break input {	
	border: none;
	background: none;
}

table#timesheet-table tbody tr td.shift_start input, table#timesheet-table tbody tr td.shift_end input {	
	border: none;
	background: none;
	
	max-width: 65px;
}

table#timesheet-table tbody tr td input[type=checkbox] {
	transform: scale(1.25);
	margin-right: 15px;
	z-index: -1;
}

table#timesheet-table tbody tr td input[type=button] {
	padding: 5px 10px;
	margin-right: 3px;
	
	border: none;
	border-radius: 3px;
	background-color: #2E8DDF;
	color: white;
}

table#timesheet-table tbody tr td input[type=button]:disabled {
	display: none;
}

input[type=time]::-webkit-inner-spin-button, input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
  display: none;
}


.main-footer {
	height: 24%;
	
	background-color: blueviolet;
	border-top: 1px solid lightgrey;
}

.main-footer .signature-parent {
	height: 75%;
	
	background-color: white;
}

.main-footer .signature-header {
	height: 30%;
	
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	background-color: #2E8DDF;
	color: white;
}

.main-footer #signature {
	height: 70%;
}

.main-footer .signature-buttons {
	height: 25%;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.main-footer .signature-buttons input[type=button] {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: calc(100%/2);
	
	border: none;
	background-color: #2E8DDF;
	color: white;
	font-size: 1em;
	font-weight: bold;
}

.main-footer .signature-buttons input[type=button]:first-of-type {
	border-right: 1px solid white;
}
